# Pandas Basic

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./Airline_Delay_Cause.csv")

In [3]:
df

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318012,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
318013,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
318014,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
318015,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
318016,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [4]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2022,5,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",136.0,7.0,5.95,0.00,...,0.0,1.00,0.0,0.0,255.0,222.0,0.0,4.0,0.0,29.0
1,2022,5,9E,Endeavor Air Inc.,ABY,"Albany, GA: Southwest Georgia Regional",91.0,16.0,7.38,0.00,...,0.0,6.09,0.0,0.0,884.0,351.0,0.0,81.0,0.0,452.0
2,2022,5,9E,Endeavor Air Inc.,ACK,"Nantucket, MA: Nantucket Memorial",19.0,2.0,0.13,0.00,...,0.0,0.88,1.0,0.0,138.0,4.0,0.0,106.0,0.0,28.0
3,2022,5,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",88.0,14.0,7.26,0.76,...,0.0,1.64,0.0,0.0,947.0,585.0,35.0,125.0,0.0,202.0
4,2022,5,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",181.0,19.0,13.84,0.00,...,0.0,2.09,0.0,0.0,808.0,662.0,0.0,87.0,0.0,59.0

In [5]:
df.tail()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
318012,2003,6,DL,Delta Air Lines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",480.0,84.0,25.69,3.09,...,0.0,21.26,0.0,0.0,3744.0,978.0,164.0,1023.0,0.0,1579.0
318013,2003,6,DL,Delta Air Lines Inc.,SFO,"San Francisco, CA: San Francisco International",505.0,111.0,21.78,2.24,...,0.0,13.17,3.0,0.0,4284.0,1376.0,138.0,2132.0,0.0,638.0
318014,2003,6,DL,Delta Air Lines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",146.0,36.0,6.99,0.00,...,0.0,2.15,0.0,0.0,896.0,205.0,0.0,607.0,0.0,84.0
318015,2003,6,DL,Delta Air Lines Inc.,SJU,"San Juan, PR: Luis Munoz Marin International",95.0,13.0,3.66,0.00,...,0.0,1.42,0.0,0.0,367.0,120.0,0.0,210.0,0.0,37.0
318016,2003,6,DL,Delta Air Lines Inc.,SLC,"Salt Lake City, UT: Salt Lake City International",3466.0,454.0,121.15,7.61,...,1.0,102.33,9.0,0.0,16853.0,5384.0,306.0,5686.0,28.0,5449.0

In [7]:
df.shape

(318017, 21)

In [8]:
df.index

RangeIndex(start=0, stop=318017, step=1)

In [10]:
df.columns

Index(['year', 'month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [22]:
df.to_numpy()[ : 5]

array([[2022, 5, '9E', 'Endeavor Air Inc.', 'ABE',
        'Allentown/Bethlehem/Easton, PA: Lehigh Valley International',
        136.0, 7.0, 5.95, 0.0, 0.05, 0.0, 1.0, 0.0, 0.0, 255.0, 222.0,
        0.0, 4.0, 0.0, 29.0],
       [2022, 5, '9E', 'Endeavor Air Inc.', 'ABY',
        'Albany, GA: Southwest Georgia Regional', 91.0, 16.0, 7.38, 0.0,
        2.54, 0.0, 6.09, 0.0, 0.0, 884.0, 351.0, 0.0, 81.0, 0.0, 452.0],
       [2022, 5, '9E', 'Endeavor Air Inc.', 'ACK',
        'Nantucket, MA: Nantucket Memorial', 19.0, 2.0, 0.13, 0.0, 1.0,
        0.0, 0.88, 1.0, 0.0, 138.0, 4.0, 0.0, 106.0, 0.0, 28.0],
       [2022, 5, '9E', 'Endeavor Air Inc.', 'AEX',
        'Alexandria, LA: Alexandria International', 88.0, 14.0, 7.26,
        0.76, 4.35, 0.0, 1.64, 0.0, 0.0, 947.0, 585.0, 35.0, 125.0, 0.0,
        202.0],
       [2022, 5, '9E', 'Endeavor Air Inc.', 'AGS',
        'Augusta, GA: Augusta Regional at Bush Field', 181.0, 19.0,
        13.84, 0.0, 3.07, 0.0, 2.09, 0.0, 0.0, 808.0, 662.0, 0.0, 87.0,
        0.0, 59.0]], dtype=object)

In [24]:
df.to_numpy()[ : 5].T

array([[2022, 2022, 2022, 2022, 2022],
       [5, 5, 5, 5, 5],
       ['9E', '9E', '9E', '9E', '9E'],
       ['Endeavor Air Inc.', 'Endeavor Air Inc.', 'Endeavor Air Inc.',
        'Endeavor Air Inc.', 'Endeavor Air Inc.'],
       ['ABE', 'ABY', 'ACK', 'AEX', 'AGS'],
       ['Allentown/Bethlehem/Easton, PA: Lehigh Valley International',
        'Albany, GA: Southwest Georgia Regional',
        'Nantucket, MA: Nantucket Memorial',
        'Alexandria, LA: Alexandria International',
        'Augusta, GA: Augusta Regional at Bush Field'],
       [136.0, 91.0, 19.0, 88.0, 181.0],
       [7.0, 16.0, 2.0, 14.0, 19.0],
       [5.95, 7.38, 0.13, 7.26, 13.84],
       [0.0, 0.0, 0.0, 0.76, 0.0],
       [0.05, 2.54, 1.0, 4.35, 3.07],
       [0.0, 0.0, 0.0, 0.0, 0.0],
       [1.0, 6.09, 0.88, 1.64, 2.09],
       [0.0, 0.0, 1.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, 0.0, 0.0],
       [255.0, 884.0, 138.0, 947.0, 808.0],
       [222.0, 351.0, 4.0, 585.0, 662.0],
       [0.0, 0.0, 0.0, 35.0, 0.0],
       [4.0, 81.0, 106.0, 125.0, 87.0],
       [0.0, 0.0, 0.0, 0.0, 0.0],
       [29.0, 452.0, 28.0, 202.0, 59.0]], dtype=object)

In [25]:
df.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,318017.000000,318017.000000,317529.000000,317289.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000,317529.000000
mean,2012.450957,6.497844,381.763984,72.904403,21.072980,2.616379,24.005228,0.179037,24.975734,7.207257,0.867672,4209.947536,1286.583503,220.567542,1099.516422,7.214799,1596.062993
std,5.678296,3.459423,1027.148994,198.935595,47.671306,9.968549,85.113757,0.844834,75.275223,37.216301,3.915760,12518.907854,3515.397263,861.521440,4636.475908,38.854566,4924.950687
min,2003.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-19.000000,0.000000,0.000000
25%,2007.000000,3.000000,59.000000,9.000000,3.000000,0.000000,1.680000,0.000000,1.640000,0.000000,0.000000,436.000000,148.000000,0.000000,56.000000,0.000000,79.000000
50%,2012.000000,6.000000,120.000000,23.000000,8.190000,0.580000,5.490000,0.000000,5.860000,1.000000,0.000000,1201.000000,437.000000,25.000000,203.000000,0.000000,351.000000
75%,2018.000000,10.000000,273.000000,56.000000,19.690000,2.000000,15.350000,0.000000,17.040000,4.000000,1.000000,3080.000000,1100.000000,159.000000,602.000000,0.000000,1110.000000
max,2022.000000,12.000000,21977.000000,6377.000000,1792.070000,717.940000,4091.270000,80.560000,1885.470000,4951.000000,256.000000,433687.000000,196944.000000,57707.000000,238440.000000,3760.000000,148181.000000